.container-box {
    display: inline-block;
    width: 400px;
    padding: 1em;
    border: 1px solid grey;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  min-height:40vh;
}