<!DOCTYPE html>
<html lang="en">
<head>
        {%load static%}
    <meta charset="UTF-8">
    <title>Test Deploy</title>
    <!--    bootstrap links     -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel='stylesheet' type='text/css' />-->
    <link href="{% static 'css/index.css' %}" rel='stylesheet' type='text/css' />
<style>
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        border: 1px solid red;
        color: red;
        background: rgba(255, 0, 0, 0.15);
        list-style-position: inside;
        display: block;
        font-size: 1.2em;
        margin: 0 0 3px;
        padding: 4px 5px;
        text-align: center;
        border-radius: 3px;
    }
</style>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>